@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        /* Estilos para o layout do usuário */
        .user-container {
            background-color: #f0f0f0;
            padding: 20px;
            border-radius: inherit;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: left;
            margin: 180px 480px; /* 200px de margem superior e inferior, 500px de margem à esquerda e à direita */
            max-width: 300px;
            font-size: 40px; /* Define o tamanho da fonte como 16 pixels */
        }
        
        
        

.user-info {
    margin-top: 20px;
    font-size: 16px;
}

.user-info span {
    display: block;
    margin-bottom: 10px;
}

.user-info span:first-child {
    font-weight: bold;
}


        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            background: gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 99;
        }

        .logo {
            font-size: 2em;
            color: black;
            user-select: none;
            margin-top: 5px;
        }

        .navigation a {
            position: relative;
            font-size: 1.1em;
            color: black;
            text-decoration: none;
            font-weight: 500;
            margin-left: 40px;
        }

        .title  {
            display: flex;
            position: absolute;
            top: 32.5%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: black;
        }

        .navigation .btnLogin-popup {
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid black;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: black;
            font-weight: 500;
            margin-left: 40px;
            transition: 0.5s;
        }

        .Save {
            width: 870px;
            height: 50px;
            background-color: green;
            border: 3px solid black;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: white;
            font-weight: 750;
            margin-top: 90px;
            margin-left: auto; 
            margin-right: auto; 
            display: block; 
            transition: 0.5s;
        }

        .Save1 {
            width: 420px;
            height: 50px;
            background-color: green;
            border: 3px solid black;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: white;
            font-weight: 750;
            margin-top: 90px;
            margin-left: 0px; 
            margin-right: auto; 
            display: block; 
            transition: 0.5s;
        }
        
        .delete{
            width: 420px;
            height: 50px;
            background-color: red;
            border: 3px solid black;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: white;
            font-weight: 750;
            margin-top: -50px;
            margin-left: auto; 
            margin-right: 0px; 
            display: block; 
            transition: 0.5s;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: center; 
            position: absolute;
            top: 47%;
            left: 65.5%;
            transform: translate(-50%, -50%);
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid black;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: black;
            font-weight: 500;
            margin-left: 40px;
            transition: 0.5s;
          }

          .button-containerr {
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: center; 
            position: absolute;
            top: 47%;
            left: 77%;
            transform: translate(-50%, -50%);
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid black;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: black;
            font-weight: 500;
            margin-left: 40px;
            transition: 0.5s;
          }

        .navigation .btnLogin-popup:hover {
            background: #fff;
            color: #162938;
        }

        .imagem-customizada {
            position: absolute;
            top: 120px;
            left: 235px;
        }

        .heading {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .table {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 5px;
            border-radius: 10px;
            width: 1050px;
            max-width: 100%;
            border: 3px solid gray;
        }

        .table thead {
            background-color: gray;
        }

        .container {
            text-align: center;
        }

        .table thead tr th {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.70px;
            color: #ffffff;
            opacity: 1;
            padding: 12px;
            vertical-align: top;
            border: 3px solid #dee2e685;
        }

        .table thead tr td {
            font-size: 12px;
            letter-spacing: 0.35px;
            font-weight: normal;
            color: #f1f1f1;
            background-color: #3c3f44;
            padding: 8px;
            text-align: center;
            border: 3px solid #dee2e685;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        input[type=text]
        {
            background-color: #f5f5f5; 
            border: 3px solid black; 
            padding: 75px; 
            border-radius: 10px; 
            width: 870px; 
            margin: 20px auto 0; 
        }
        
        .custom-button {
            top: 0;
            left: 0;
            background-color: green;
            border: none;
            color: white;
            padding: 15px 32px;
            font-size: 16px;
            margin: 4px auto; 
            cursor: pointer;
            border-radius: 10px;
        }
        
        .custom-button:hover {
            background-color: #45a049;
        }
        
        p {
            font-family: Arial, sans-serif; 
        }

        .meuInputDate {
            background-color: gray;
            position: absolute;
            top: 87.5%;
            left: 27.25%;
            transform: translate(-50%, -50%);
            padding: 15px;
            font-family: "Roboto Mono",monospace;
            color: #ffffff;
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 5px;
        }
        
        